<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level %logger{0}:%L 
                If you required class name ,enable %logger{0}:%L -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %caller{1..2} %-5level-%msg %n </pattern>
        </encoder>
    </appender>

    <appender name="ASYNC-STDOUT"
        class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1000000</queueSize>
        <discardingThreshold>20</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="org.apache.zookeeper" level="ERROR"
        additivity="false">
        <appender-ref ref="ASYNC-STDOUT" />
    </logger>

    <logger name="org.apache.kafka" level="ERROR"
        additivity="false">
        <appender-ref ref="ASYNC-STDOUT" />
    </logger>
    <logger name="com.manoj.sample" level="INFO"
        additivity="false">
        <appender-ref ref="ASYNC-STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNC-STDOUT" />
    </root>

</configuration>